body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { 
    list-style-type: disc; 
    padding-left: 5px; 
}
a { 
    color:blue; 
    text-decoration: none;
}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    text-align: center;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}
p 
{
    text-align: justify;
    font-size: .4rem;
}
h2 {
    font-size: 1rem;
}
h1 {
    font-size: 2rem;
    text-align: center;
    text-justify: inter-word;   
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.alternada {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline-start: -25px;
}
#diagrama {
    font-size: 0.325rem;
    text-align: center;
    margin-top: -10px;
}
.dc {
   border-top: solid 1px #cdcdcd;
}
address {
    margin-left: 200px;
    font-style: normal;
    font-size: 0.5rem;
    margin-top: -19px; 
}
footer p {
    color: black;
    font-size: 0.5rem;
    margin-top: 10px; 
}                               
footer p a {
    color: black;
    margin-left: 0px;
    text-align: center; 
    font-size: 8px; 
    padding: 1px; 
}